<ion-list class="popover-history">

  <ion-list-header>
    History
    <button ion-button outline item-right (click)="onclick_history()">Full</button>
  </ion-list-header>

  <history-list [limit]="25" #history></history-list>

</ion-list>
