
<ion-header>
  <ion-navbar color="blacklight" class="my-navbar">
    <ion-title>
      Bookmark
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #skinContent padding class="tab-bookmark">

  <ion-list>

    <ion-row>
      <ion-col width-50>
        <button ion-button color="danger" outline block (click)="onclick_clearAll($event)">Clear All</button>
      </ion-col>
      <ion-col text-right>
        <button ion-button outline (click)="onclick_toggleDelete($event)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button
          ion-button
          color="favorite"
          outline
          (click)="onclick_popoverLocale($event)">
          {{ setting.locale }}
        </button>
      </ion-col>
    </ion-row>

    <ion-item *ngFor="let item of items; let i = index;">
      <ion-icon color="danger" name="remove-circle" item-left [hidden]="isHideDeleteBtn" (click)="onclick_delete(item)"></ion-icon>
      <ion-note item-left (click)="onclick_word(item)">{{ i + 1 }}</ion-note>
      <ion-label (click)="onclick_word(item)">{{ item.word }}</ion-label>
      <span item-right class="italic" [hidden]="!isIPA_display" (click)="onclick_word(item)">{{ item.ipa[setting.locale] }}</span>
    </ion-item>

  </ion-list>

</ion-content>
