<ion-header>
  <navBar
    #navBar
    title="How To"
  ></navBar>
</ion-header>

<ion-content padding class="how-to-page">

  <ion-item text-wrap>
    <div class='header'>
      {{ device_type }}
    </div>
    {{ tips }}
    <a href='{{ link }}' target="_blank">
      {{ link }}
    </a>
  </ion-item>

</ion-content>
