<ion-item *ngFor="let item of items; let i = index;">
  <ion-note item-left (click)="onclick_toggleBookmark(item)" [hidden]="item.isBookmarked">{{ i + 1 }}</ion-note>
  <ion-note item-left (click)="onclick_toggleBookmark(item)" [hidden]="!item.isBookmarked">
    <ion-icon color="bookmarked" name="heart"></ion-icon>
  </ion-note>
  <ion-label
    (click)="onclick_word(item)">
    {{ item.word }}
  </ion-label>
  <span
    item-right
    class="italic"
    [hidden]="!isIPA_display"
    (click)="onclick_word(item)">
    {{ item.ipa[setting.locale] }}
  </span>
</ion-item>
