
<ion-header>
  <ion-navbar color="blacklight" class="my-navbar">
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #skinContent padding class="tab-history">

  <ion-list>

    <ion-row>
      <ion-col width-50>
        <button ion-button color="danger" outline block (click)="onclick_clearAll($event)">Clear All</button>
      </ion-col>
      <ion-col text-right>
        <button
          ion-button
          color="favorite"
          outline
          (click)="onclick_popoverLocale($event)">
          {{ setting.locale }}
        </button>
      </ion-col>
    </ion-row>

    <history-list #history></history-list>

  </ion-list>

</ion-content>
