<ion-header>
  <navBar
    #navBar
    title="Setting"
  ></navBar>
</ion-header>

<ion-content #skinContent class="setting">

  <ion-item-divider color="light">
    <ion-label>
      Pronunciation
    </ion-label>
    <ion-icon name="pulse" item-right></ion-icon>
  </ion-item-divider>

  <ion-item>
    <ion-label>
      Display
      <span>/ˈtræn.skrɪpt/</span>
    </ion-label>
    <ion-toggle [(ngModel)]="isIPA_display" (ionChange)="toggleIPA_display()" item-right></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>
      Display voice selection
    </ion-label>
    <ion-toggle [(ngModel)]="isPopoverShow" (ionChange)="toggleHidePopover()" item-right></ion-toggle>
  </ion-item>
  <ion-list [hidden]="isPopoverShow">
    <ion-item text-wrap *ngFor="let item of locales_default">
      <b>{{ item }} : {{ jsonLocales[item].name }}</b>
      <br>
      <span>{{ jsonLocales[item].description }}</span>
      <ion-icon color="primary" name="{{ setting.locales.indexOf(item)>-1?'checkmark-circle-outline':'radio-button-off' }}" (click)="toggleLocale(item)" item-right></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item-divider color="light">
    <ion-label>
      General
    </ion-label>
    <ion-icon name="cog" item-right></ion-icon>
  </ion-item-divider>

  <ion-item text-wrap="">
    <ion-label>
      Randomly load words at homepage
    </ion-label>
    <ion-toggle [(ngModel)]="isWordRandom" (ionChange)="toggleWordRandom()" item-right></ion-toggle>
  </ion-item>

</ion-content>
