.word-detail {

  .decor-underline {
    text-decoration: underline;
    font-weight: bolder;
  }

  .ipa {
    font-size: 2.2rem;
  }

  .ipa-char {
    font-size: 1.6rem;
    font-weight: 600;
    color: map_get($colors, lightdark);
    height: 1.2rem;

    span {
      font-style: italic;
    }
  }

  ion-item {
    background-color: inherit;
    color: inherit;
  }

  .btn-bookmark {
    background-color: transparent;
    border: solid 1px gray;
    opacity: .5;

    &.active {
      opacity: .9;

      ion-icon {
        color: red !important;
      }
    }
  }
}
