<ion-header>
  <navBar
    #navBar
    [title]="word.word"
    [hasPopHistory]="true"
    [hasReturn]="false"
  ></navBar>
</ion-header>

<ion-content #skinContent padding class="word-detail">

  <ion-list *ngFor="let locale of localeArr">
    <ion-item text-wrap>
      <ion-label class="ipa" (click)="toggle[locale] = !toggle[locale];">
        {{ word.ipa[locale] }}
      </ion-label>
      <button ion-button outline item-right (click)="onclick_word(word.word, locale)">{{locale}}</button>
      <ion-icon name="pulse" item-right color="favorite" (click)="onclick_word_natural(word.word, locale)"></ion-icon>
    </ion-item>
    <ion-item
      class="ipa-char"
      *ngFor="let item of ipaList[locale]"
      [hidden]="!toggle[locale]"
    >
      <ion-label (click)="onclick_word(item.ipa, locale)">
        {{ item.ipa }}
      </ion-label>
      <span item-right [innerHTML]="item.pron" (click)="onclick_word(item.word, locale)"></span>
      <span item-right [innerHTML]="item.word" (click)="onclick_word(item.word, locale)"></span>
      <ion-note item-right>
        <ion-icon name="pulse" (click)="onclick_word_natural(item.word, locale)"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab center bottom>
    <button ion-fab mini class="btn-bookmark"
            [class.active]="word.isBookmarked" (click)="onclick_toggleBookmark()">
      <ion-icon color="favorite" name="heart"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
